[project]
	description = Policy Conversion Tool
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mmujumdar
[access "refs/for/refs/*"]
	read = group user/mmujumdar
	push = group user/mmujumdar
	label-Code-Review = -2..+2 group user/mmujumdar
	label-Verified = -1..+1 group user/mmujumdar
	rebase = group user/mmujumdar
	removeReviewer = group user/mmujumdar
	submit = group user/mmujumdar
[access "refs/heads/*"]
	read = group user/mmujumdar
	create = group user/mmujumdar
	push = +force group user/mmujumdar
	pushMerge = group user/mmujumdar
[access "refs/tags/*"]
	push = +force group user/mmujumdar
	pushTag = group user/mmujumdar
	pushSignedTag = group user/mmujumdar
